body{
    margin: 0;
    padding: 0;
}
header{
    position: relative;
    width: 100%;
}
.head{
    background-color: aquamarine;
    height: 150px;
    width: 100%;
    border: 5px solid black;
    padding: 10px;
    font-size: 50px;
    line-height: 150px;
}
.menu{
    height: 110px;
    background-color: blueviolet;
    width: 700px;
    position: relative;
    bottom: 150px;
    border: 5px solid black;
    left: 50%;
    padding: 10px;
    font-size: 50px;
    line-height: 110px;
}
.container{
    display: flex;
    margin-top: -120px;
    
}
.container .left{
    width: 70%;
    margin-right: 20px
}.container .left .box{
    background-color: rgb(154, 254, 159);
    border: 5px solid black;
    height: 300px;
    text-align: center;
    font-size: 50px;
    line-height: 300px;
    
}
.container .right{
    width: 30%;
}
.container .right .side{
    border: 5px solid black;
    height: 630px;
    background-color: rgb(56, 56, 244);
    font-size: 50px;
    text-align: center;
    line-height: 630px;
}
footer{
    border: 5px solid black;
    margin-top: 20px;
    height: 100px;
    background-color: rgb(177, 121, 177);
    font-size: 50px;
    line-height: 100px;
    text-align: center;
}
