.container{
    display: flex;
    
}
.container .box{
    width: 200px;
    height: 200px;
    background-color: yellow;
}
.container .box1{
    margin-right: auto;
}

.container .box4{
    margin-left: auto;
}